@page "/logout"
@using Stockify.Data
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject NavigationManager Nav
@inject UserSession Session
@inject ProtectedLocalStorage Storage

<div class="logout-container">
    @if (isProcessing)
    {
        <div class="spinner"></div>
        <p>Logging you out safely...</p>
    }
    else
    {
        <p>Redirecting...</p>
    }
</div>

@code {
    private bool isProcessing = true;

    protected override async Task OnInitializedAsync()
    {
        Session.UserId = -1;
        Session.Name = "";

        // Delai artificiel pour faire comme vria 
        await Task.Delay(1000);

        await Storage.DeleteAsync("userId");
        await Storage.DeleteAsync("userName");

        isProcessing = false;
        Nav.NavigateTo("/login");
    }
}