@inherits LayoutComponentBase

<div class="layout">
    <nav class="sidebar">
        <div class="sidebar-brand">
            <a href="/">💹 Stockify</a>
        </div>
        <NavMenu />
    </nav>

    <main class="main-content">
        @Body
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    Une erreur est survenue.
    <a href="." class="reload">Recharger</a>
    <span class="dismiss">🗙</span>
</div>