<nav class="nav-links">
    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
        Accueil
    </NavLink>
    <NavLink class="nav-link" href="/portfolio">
        Portfolio
    </NavLink>
    <NavLink class="nav-link" href="/watchlist">
        Watchlist
    </NavLink>
    <NavLink class="nav-link" href="/TransactionHistory">
        Transactions
    </NavLink>

    <div class="nav-bottom">    
        <NavLink class="nav-link" href="/login">
            Connexion
        </NavLink>

        <NavLink class="nav-link" href="/logout">
            Deconnexion
        </NavLink>
    </div>
</nav>
